:javascript
  $(document).ready(function(){
    $(function() {
      $(".sortable_list").sortable({opacity: 0.6,
                                    cursor: 'move',
                                    update: function() {
                                      var order = $(this).sortable("serialize") + 
                                                  '&_method=PUT';
                                      var update_url = '#{update_sequences_recipe_steps_url(@recipe)}';
                                      $.ajax({
                                          type: "POST",
                                          url: update_url,
                                          data: order,
                                          dataType: 'json'
                                      });
                                    }
                                  });
    });
    
    //do not show form to edit receipt info by default
    $('.js_pullable_div').hide();
  });

%h2
  Editing recipe for
  = @recipe.name
  %p#notice= notice
  = hidden_field_tag :recipe_id, @recipe.id

%div= image_tag @recipe.image_url(:medium).to_s

%table
  %tr
    %td{:colspan=>2}
      %fieldset
        %legend.js_pullable_title Recipe description
        = render 'form'
  %tr
    %td
      %fieldset
        %legend New step
        #step_form
          = render 'cooking/steps/form'
    %td
      %fieldset
        %legend New ingredient
        = render 'cooking/quantified_ingredients/form'
  %tr
    %td
      %ol#steps.sortable_list
        = render :partial=>'cooking/steps/steps'
    %td
      %ul#ingredients
        - @recipe.quantified_ingredients.each do |qingredient|
          - if !qingredient.ingredient.new_record?
            %li
              = link_to 'Remove', {:controller=>:quantified_ingredients, :action=>:destroy, :id=>qingredient.id, :recipe_id=>@recipe.id}, {:method=>:delete}
              = qingredient.ingredient.name
              x
              = qingredient.quantity