:javascript
  $(document).ready(function(){
    var $container = $('#ingredients');
    // initialize
    $container.imagesLoaded( function() {
      $container.masonry({
        columnWidth: 200,
        gutter: 20,
        itemSelector: '.ingredient'
      });
    });
  });

%h2= @recipe.name

= image_tag @recipe.image_url(:medium_0).to_s
%br
= @recipe.description

%fieldset
  %legend.js_pullable_title Ingredient
  .js_pullable_div
    #ingredients
      - @recipe.quantified_ingredients.each do |qingredient|
        - if qingredient.ingredient
          .ingredient
            .txt
              = qingredient.ingredient.name
              X
              = qingredient.quantity
            .img
              = image_tag(random_image_version(qingredient.ingredient, 'medium', 3))

%fieldset
  %legend.js_pullable_title Steps
  .js_pullable_div
    - @recipe.steps.each_with_index do |step, index|
      - if step.sequence_number
        .step
          = index+1
          = step.description
          = image_tag step.image_url(:medium_0).to_s
