#actions_nav
  = tabs_tag :name_space=>:cooking_recipes do |tab|
    = tab.list 'List', recipes_path
    = tab.add 'Add', new_recipe_path
    = (tab.edit 'Edit', edit_recipe_path(@recipe)) if (@recipe && !@recipe.new_record?)
    = (tab.show 'Detail', recipe_path(@recipe)) if (@recipe && !@recipe.new_record?)